<h3><span class="fa fa-pencil"></span> Update dig</h3>
<hr>

<form id="update-dig" action="/digs/<%= formData._id || '' %>" method="post" enctype="multipart/form-data">

	<div class="form-group">
		<label for="input-artists">Artists</label> <i>separated by a comma ( , )</i>
		<input type="text" class="form-control" name="artists" value="<%= displayArtists(formData.artists) || '' %>" id="input-artists">
	</div>
	<div class="form-group">
		<label for="input-title">Title</label>
		<input type="text" class="form-control" name="title" id="input-title" value="<%= formData.title || '' %>">
	</div>
	<div class="form-group">
		<label for="input-year">Year</label>
		<input type="text" class="form-control" name="year" value="<%= formData.year || '' %>" id="input-year">
	</div>
	<div class="form-group">
		<label for="input-label">Label</label>
		<input type="text" class="form-control" name="label" value="<%= formData.label || '' %>" id="input-label">
	</div>
	<div class="form-group">
		<label for="input-description">Description (optional)</label>
		<textarea class="form-control" name="description" id="input-description"><%= formData.description || '' %></textarea>
	</div>
	<div class="form-group">
		<label for="input-youtubeId">Youtube ID</label>
		<input type="text" class="form-control" name="youtubeId" value="<%= formData.youtubeId || '' %>" id="input-youtubeId">
	</div>
	<div class="form-group">
		<label for="input-youtubeId">Links</label>
		<div class="links-inputs">
			<div class="links-inputs--link">
				<input type="text" class="form-control link-name" placeholder="Website Name">
				<input type="text" class="form-control link-url" placeholder="URL">
			</div>
		</div>
		<input type="hidden" name="links" value="<%= formData.links ? JSON.stringify(formData.links) : '{}' %>" id="input-links">
	</div>
	<div class="form-group">
		<label for="input-cover">Cover</label>
		<img src="/uploads/<%= formData.cover %>" class="img-responsive">
		<label for="input-cover" class="text-muted">Update cover</label>
		<input type="file" class="form-control" name="cover" value="<%= formData.cover || '' %>" id="input-cover">
	</div>
	<div class="radio">
	    <label for="input-sleeve-1">
	      <input type="radio" name="hasSleeve" value="false" id="input-sleeve-1" <% if ( !formData.hasSleeve ) { %> checked <% } %> > Image is a cover picture
	    </label>
	    <label for="input-sleeve-2">
	      <input type="radio" name="hasSleeve" value="true" id="input-sleeve-2" <% if ( formData.hasSleeve ) { %> checked <% } %> > Image is the record label picture
	    </label>
	  </div>
	<div class="form-group">
		<label for="input-slug">Slug</label>
		<input type="text" class="form-control" name="slug" value="<%= formData.slug || '' %>" id="input-slug" readonly>
	</div>

	<a href="/admin" class="btn btn-primary pull-right">Cancel</a>
	<button type="submit" class="btn btn-danger">Update</button>

</form>
