<!doctype html>
<html>
<head>
	<title>dihh</title>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/style.css">
    <link rel="canonical" href="/<% if (pageId > 1) { %>page/<%= pageId %>/<% } %><% if (dig) { %>digs/<%= dig.slug %><% } %>" />
	<script src="/head.libs.js"></script>
</head>
<body>

<div class="main">
    <div class="scene">
        <div id="cratedigger" 
             data-cratedigger-page="<%= pageId %>" 
             <% if (dig) { %>data-cratedigger-record="<%= dig._id %>"<% } %> 
        >
            <div id="cratedigger-canvas"></div>
            <div id="cratedigger-loading">
                <div class="info-container">
                    <div class="vertical-center">
                        <span class="loading-label">Loading records...</span>
                    </div>
                </div>
            </div>
            <div id="cratedigger-info">
                <div class="info-container">
                    <div class="vertical-center">
                        <div id="cratedigger-record-artist" class="cratedigger-label"></div>
                        <div id="cratedigger-record-title" class="cratedigger-label"></div>
                        <div id="cratedigger-record-cover" class="cratedigger-label"></div>
                        <div class="cratedigger-label">
                            <a id="cratedigger-record-listen" href="#">Listen</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom-bar">
            <div class="bottom-bar-item bottom-bar-prev-button">
                PREVIOUS
            </div>
            <div class="bottom-bar-item full-centered bottom-bar-mid-button">
                SHOW
            </div>
            <div class="bottom-bar-item full-centered bottom-bar-next-button">
                NEXT
            </div>
        </div>
    </div>
    <main class="right-column">
        <div class="track">
            <div class="track-inner">
                <div class="track-header">
                    <div class="column-container">
                        <div class="track-artist">
                            <% if (dig) { %>
                                <%= dig.artists.join(', ') %>
                            <% } %>
                        </div>
                        <div class="track-title">
                            <% if (dig) { %>
                                <%= dig.title %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="track-player">
                    <div id="player"></div>
                    <div class="label-loading track-player-loading">
                        <div class="track-player-loading-icon">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                        <div class="track-player-loading-label">Loading...</div>
                    </div>
                </div>
                <div class="track-controls">
                    <ul class="track-controls-buttons">
                        <li class="track-control-button button-fullwidth button-prev-track">
                            <i class="icon-prev"></i> Prev
                        </li>
                        <li class="track-control-button button-fullwidth button-playpause">
                            Play
                        </li>
                        <li class="track-control-button button-fullwidth button-next-track">
                            Next <i class="icon-next"></i>
                        </li>
                    </ul>
                </div>
                <div class="track-infos">
                    <div class="track-info">
                        <span class="track-info-label">Label</span>
                        <span class="track-label">
                            <% if (dig) { %>
                                <%= dig.label %>
                            <% } %>
                        </span>
                    </div>
                    <div class="track-info">
                        <span class="track-info-label">Released</span>
                        <span class="track-year">
                            <% if (dig) { %>
                                <%= dig.year %>
                            <% } %>
                        </span>
                    </div>
                    <div class="track-description">
                        <% if (dig) { %>
                            
                        <% } %>
                    </div>
                    <div class="track-links">
                        <% if (dig) { %>

                            <a href="//www.youtube.com/watch?v=<%= dig.youtubeId %>" class="button button-black button-small" target="_blank">Youtube</a> 
                            
                            <% if (dig.links.discogs) { %>
                            
                                <a href="<%= dig.links.discogs %>" class="button button-black button-small" target="_blank">Discogs</a> 

                            <% } %>
                        <% } %>
                    </div>
                    <div id="disqus_thread"></div>
                </div>
            </div>
        </div>
        <div class="footer">
            <a href="#" class="page-button button-prev-page"><i class="icon-left"></i></a>
            <div class="pages">
                Page <span class="page-number"><%= pageId %></span>/<%= pagesCount %>
            </div>
            <a href="#" class="page-button button-next-page"><i class="icon-right"></i></a>
        </div>
    </main>
</div>

<script type="text/javascript" src="/libs.min.js"></script>
<script type="text/javascript" src="/app.min.js"></script>
<script type="text/javascript">
$(function() {
	App.init();
});

    
</script>
</body>
</html>