<h3><span class="fa fa-plus"></span> New dig</h3>
<hr>

<form id="create-dig" action="/digs" method="post" enctype="multipart/form-data">

	<div class="form-group">
		<label for="input-artists">Artist(s)</label> <i>separated by a comma ( , )</i>
		<input type="text" class="form-control" name="artists" value="<%= displayArtists(formData.artists) %>" id="input-artists">
	</div>
	<div class="form-group">
		<label for="input-title">Title</label>
		<input type="text" class="form-control" name="title" id="input-title" value="<%= formData.title || '' %>">
	</div>
	<div class="form-group">
		<label for="input-year">Year</label>
		<input type="text" class="form-control" name="year" value="<%= formData.year || '' %>" id="input-year">
	</div>
	<div class="form-group">
		<label for="input-label">Label</label>
		<input type="text" class="form-control" name="label" value="<%= formData.label || '' %>" id="input-label">
	</div>
	<div class="form-group">
		<label for="input-youtubeId">Youtube ID</label>
		<input type="text" class="form-control" name="youtubeId" value="<%= formData.youtubeId || '' %>" id="input-youtubeId">
	</div>
	<div class="form-group">
		<label for="input-cover">Cover</label>
		<input type="file" class="form-control" name="cover" value="<%= formData.cover || '' %>" id="input-cover">
	</div>
	<div class="radio">
	    <label for="input-sleeve-1">
	      <input type="radio" name="hasSleeve" value="false" id="input-sleeve-1" <% if ( !formData.hasSleeve ) { %> checked <% } %> > Image is a cover picture
	    </label>
	    <label for="input-sleeve-2">
	      <input type="radio" name="hasSleeve" value="true" id="input-sleeve-2" <% if ( formData.hasSleeve ) { %> checked <% } %> > Image is the record label picture
	    </label>
	  </div>
	<div class="form-group">
		<label for="input-slug">Slug</label>
		<input type="text" class="form-control" name="slug" value="<%= formData.slug || '' %>" id="input-slug">
	</div>

	<button type="submit" class="btn btn-danger">Create</button>
	
</form>