<!doctype html>
<html>
	<% include ./partials/admin/head %>
<body>

<div class="container">

	<div class="page-header">
		<h1>admin - <%= user.username %> <a href="/admin/logout" class="btn btn-default btn-sm pull-right">Logout</a></h1>
	<hr>
	</div>

	<% if (message.length > 0) { %>
		<div class="alert alert-info"><%= message %></div>
	<% } %>

	<div class="row">

		<div class="col-sm-7">

			<% if (digs.length > 0) { %>

				<ul class="digs-list">

					<% for(var i=0; i<digs.length; i++) {%>

					   	<li class="dig">
					   		<div class="dig--header">
					   			<span class="dig--artist"><%= displayArtists(digs[i].artists) %></span> - <span class="dig--title"><%= digs[i].title %></span>
					   		</div>
					   		<div class="dig--controls">
					   			<a href="/admin/update/<%= digs[i]._id %>"><i class="fa fa-pencil"></i> Update</a>
					   			<a href="/digs/<%= digs[i]._id %>/delete"><i class="fa fa-times"></i> Delete</a>
					   		</div>
					   	</li>

					<% } %>

				</ul>

			<% } %>
		</div>

		<div class="col-sm-5">
			<div class="well">

				<% if (page === 'update') { %>

					<% include ./partials/dig/update %>

				<% } else { %>

					<% include ./partials/dig/create %>

				<% } %>

			</div>
		</div>

	</div>
</div>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="/admin/assets/script.js"></script>
</body>
</html>