<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    
    <title><%= getPageTitle(dig, pageId) %></title>

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@diggingIntoHH">
    <meta name="twitter:creator" content="@diggingIntoHH">
    <meta name="twitter:title" content="<%= getPageTitle(dig, pageId) %>">
    <meta name="twitter:description" content="<%= getDescription(dig) %>">
    <meta name="twitter:image" content="<%= getImageUrl(dig) %>">

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style.css">
    <link rel="canonical" href="/<% if (pageId > 1) { %>page/<%= pageId %>/<% } %><% if (dig) { %>digs/<%= dig.slug %><% } %>" />
</head>
<body>

<div class="main">
    <div class="scene">
        <div id="cratedigger" 
            data-cratedigger-page="<%= pageId %>"
            data-cratedigger-pages-count="<%= pagesCount %>"
            <% if (dig) { %>data-cratedigger-record="<%= dig._id %>"<% } %> 
        >
            <div id="cratedigger-canvas"></div>
            <div id="cratedigger-loading">
                <div class="info-container">
                    <div class="vertical-center">
                        <span class="loading-label">Loading records...</span>
                    </div>
                </div>
            </div>
            <div id="cratedigger-info">
                <div class="info-container">
                    <div class="vertical-center">
                        <div id="cratedigger-record-artist" class="cratedigger-label"></div>
                        <div id="cratedigger-record-title" class="cratedigger-label"></div>
                        <div id="cratedigger-record-cover" class="cratedigger-label"></div>
                        <div class="cratedigger-label">
                            <a id="cratedigger-record-listen" href="#">Listen</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom-bar">
            <div class="bottom-bar-item bottom-bar-prev-button">
                PREVIOUS
            </div>
            <div class="bottom-bar-item full-centered bottom-bar-mid-button">
                SHOW
            </div>
            <div class="bottom-bar-item full-centered bottom-bar-next-button">
                NEXT
            </div>
        </div>
        <div class="social">
            <a href="https://twitter.com/diggingIntoHH" class="twitter-follow-button" data-show-count="true">Follow @diggingIntoHH</a>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="diggingIntoHH">Tweet</a>
        </div>
    </div>
    <main class="right-column">
        <div class="track">
            <div class="track-inner">
                <div class="track-header">
                    <div class="column-container">
                        <div class="track-artist">
                            <% if (dig) { %>
                                <%= dig.artists.join(', ') %>
                            <% } %>
                        </div>
                        <div class="track-title">
                            <% if (dig) { %>
                                <%= dig.title %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="track-player">
                    <div id="player"></div>
                    <div class="label-loading track-player-loading">
                        <div class="track-player-loading-icon">
                            <i class="fa fa-refresh fa-spin"></i>
                        </div>
                        <div class="track-player-loading-label">Loading...</div>
                    </div>
                </div>
                <div class="track-controls">
                    <ul class="track-controls-buttons">
                        <li class="track-control-button button-fullwidth button-prev-track">
                            <i class="icon-prev"></i> Prev
                        </li>
                        <li class="track-control-button button-fullwidth track-control-empty">
                        </li>
                        <li class="track-control-button button-fullwidth button-next-track">
                            Next <i class="icon-next"></i>
                        </li>
                    </ul>
                </div>
                <div class="track-infos">
                    <div class="track-info">
                        <span class="track-info-label">Label</span>
                        <span class="track-label">
                            <% if (dig) { %>
                                <%= dig.label %>
                            <% } %>
                        </span>
                    </div>
                    <div class="track-info">
                        <span class="track-info-label">Released</span>
                        <span class="track-year">
                            <% if (dig) { %>
                                <%= dig.year %>
                            <% } %>
                        </span>
                    </div>
                    <div class="track-description">
                        <% if (dig) { %>

                            <%= dig.description %>
                            
                        <% } %>
                    </div>
                    <div class="track-links">
                        <% if (dig) { %>

                            <a href="//www.youtube.com/watch?v=<%= dig.youtubeId %>" class="button button-black button-small" target="_blank">Youtube</a>

                            <% for ( var link in dig.links ) {

                                if ( dig.links.hasOwnProperty( link ) ) {

                                    %>
                                    <a href="<%= dig.links[link] %>" class="button button-black button-small" target="_blank"><%= link %></a>
                                    <%
                                }
                            }   
                        } %>
                    </div>
                    <div id="disqus_thread"></div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="page-button-container">        
                <a href="#" class="page-button button-prev-page"><i class="icon-left"></i></a>
            </div>
            <div class="pages">
                Crate <span class="page-number"><%= pageId %></span>/<%= pagesCount %>
            </div>
            <div class="page-button-container">            
                <a href="#" class="page-button button-next-page"><i class="icon-right"></i></a>
            </div>
        </div>
    </main>
</div>
<div class="logo">
    <img alt="Digging Into Hip Hop logo" src="/img/logo_white.png" width="240" height="96" />
</div>
<div class="intro">
    <div id="intro-svg"></div>
    <div class="intro-text">
        Loading...
    </div>
</div>

<script type="text/javascript" src="/libs.min.js"></script>
<script type="text/javascript" src="/main.js"></script>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</body>
</html>