<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <title><%= getPageTitle(dig, pageId) %></title>

    <meta name="description" content="<%= getDescription(dig) %>">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@diggingIntoHH">
    <meta name="twitter:creator" content="@diggingIntoHH">
    <meta name="twitter:title" content="<%= getPageTitle(dig, pageId) %>">
    <meta name="twitter:description" content="<%= getDescription(dig) %>">
    <meta name="twitter:image" content="<%= getImageUrl(dig) %>">

    <meta property="og:title" content="<%= getPageTitle(dig, pageId) %>" />
    <meta property="og:site_name" content="Digging Into Hip Hop" />
    <meta property="og:url" content="<%= getCanonicalUrl(dig, pageId) %>" />
    <meta property="og:description" content="<%= getDescription(dig) %>" />
    <meta property="og:image" content="<%= getImageUrl(dig) %>" />
    <meta property="og:type" content="music.playlist" />

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style.css">
    <link rel="canonical" href="<%= getCanonicalUrl(dig, pageId) %>" />
    <link rel="icon" href="/favicon.ico" />

</head>
<body>

<div class="main">
    <div class="scene">
        <div id="cratedigger"
            data-cratedigger-page="<%= pageId %>"
            data-cratedigger-pages-count="<%= pagesCount %>"
            <% if (dig) { %>data-cratedigger-record="<%= dig._id %>"<% } %>
        >
            <div id="cratedigger-canvas"></div>
            <div id="cratedigger-loading">
                <div class="info-container">
                    <div class="vertical-center">
                        <span class="loading-label">Loading records...</span>
                    </div>
                </div>
            </div>
            <div id="cratedigger-info">
                <div class="info-container">
                    <div class="vertical-center">
                        <div class="info-artist cratedigger-label"></div>
                        <div class="info-title cratedigger-label"></div>
                        <div class="info-cover cratedigger-label"></div>
                        <div class="cratedigger-label">
                            <a class="info-listen-button" href="#">Listen</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="bottom-bar">
            <div class="bottom-bar-item bottom-bar-prev-button">
                PREV
            </div>
            <div class="bottom-bar-item full-centered bottom-bar-mid-button">
                SHOW
            </div>
            <div class="bottom-bar-item full-centered bottom-bar-next-button">
                NEXT
            </div>
        </div>
        <div class="social">
            <a href="https://twitter.com/diggingIntoHH" class="twitter-follow-button" data-show-count="true">Follow @diggingIntoHH</a>
            <a href="https://twitter.com/share" class="twitter-share-button" data-via="diggingIntoHH">Tweet</a>
        </div>
    </div>
    <main class="right-column hidden">
        <div class="track">
            <div class="track-inner">
                <div class="track-header">
                    <div class="column-container">
                        <h2 class="track-artist">
                            <% if (dig) { %>
                                <%= dig.artists.join(', ') %>
                            <% } %>
                        </h2>
                        <h1 class="track-title">
                            <% if (dig) { %>
                                <%= dig.title %>
                            <% } %>
                        </h1>
                    </div>
                </div>
                <div class="track-player">
                    <div id="player"></div>
                </div>
                <div class="track-controls">
                    <div class="track-controls-buttons">
                        <button class="track-control-button button-fullwidth button-prev-track">
                            <i class="icon-prev"></i> Prev
                        </button>
                        <button class="track-control-button button-fullwidth button-autoplay">
                            Autoplay On
                        </button>
                        <button class="track-control-button button-fullwidth button-next-track">
                            Next <i class="icon-next"></i>
                        </button>
                    </div>
                </div>
                <div class="track-infos">
                    <div class="track-info">
                        <span class="track-info-label">Label</span>
                        <span class="track-label">
                            <% if (dig) { %>
                                <%= dig.label %>
                            <% } %>
                        </span>
                    </div>
                    <div class="track-info">
                        <span class="track-info-label">Released</span>
                        <span class="track-year">
                            <% if (dig) { %>
                                <%= dig.year %>
                            <% } %>
                        </span>
                    </div>
                    <div class="track-description">
                        <% if (dig && dig.description) { %>

                            <%= dig.description %>

                        <% } %>
                    </div>
                    <div class="track-links">
                        <% if (dig) { %>

                            <a href="//www.youtube.com/watch?v=<%= dig.youtubeId %>" class="button button-black button-small" target="_blank">Youtube</a>

                            <% for ( var link in dig.links ) {

                                if ( dig.links.hasOwnProperty( link ) ) {

                                    %>
                                    <a href="<%= dig.links[link] %>" class="button button-black button-small" target="_blank"><%= link %></a>
                                    <%
                                }
                            }
                        } %>
                    </div>
                    <div id="disqus_thread"></div>
                </div>
            </div>
        </div>
        <div class="track-panel-toggle-button">
            <i class="icon-left button-open-icon"></i>
            <i class="icon-right button-close-icon"></i>
        </div>
        <div class="about">
            <div class="instructions"></div>
        </div>
        <div class="footer">
            <div class="page-button-container">
                <a href="#" class="page-button button-prev-page"><i class="icon-left"></i></a>
            </div>
            <div class="pages">
                Crate <span class="page-number"><%= pageId %></span>/<%= pagesCount %>
            </div>
            <div class="page-button-container">
                <a href="#" class="page-button button-next-page"><i class="icon-right"></i></a>
            </div>
        </div>
    </main>
</div>
<div class="logo">
    <img alt="Digging Into Hip Hop - Underground hip hop &amp; 90's classics" src="/img/logo_white.png"/>
</div>
<div class="intro">
    <div id="intro-svg"></div>
    <div class="intro-text">
        Loading...
    </div>
</div>
<noscript>
  <% for(var i=0; i < digs.length; i++) {%>
		<a href="http://dihh.io/digs/<%= digs[i].slug %>"><%= getDigTitle(digs[i]) %></a>
	<% } %>
</noscript>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
<script type="text/javascript" src="/libs.min.js"></script>
<script type="text/javascript" src="/main.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', '<%= getAnalyticsId() %>', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
